/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

main {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: auto;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	
}
body {
	line-height: 1;
	margin: 0 auto;
	max-width: 80%;
		background: #231F20;
	color: #888;
	
}
	
table {
	border-collapse: collapse;
	border-spacing: 0;
}





.container,
.grid {
	margin: auto;
	max-width: auto;
	border: 2px solid black;
}
.container {
	margin-left: 0%;
	margin-top: 10%;
}


body {

}




/* Drumkit */



.keys {
	padding: 2px 10px;
	margin: auto;
		}


		button{
		  border: 2px solid black;
		  border-radius: 27%;

		  transition: all 0.3s;
		  width: 2em;
		  height: 2em;
		  text-align: center;
		  color: #FFFFFF;
		  background: rgba(0,0,0,0.4);
		  text-shadow: 0 0 0px black;
		  font: 12px lucida console;
		  float: center;
    text-decoration: none;

		}
button:focus {outline:0;}


	
button:hover{
  background:#221122;
  color:#EEE;
  text-decoration: underline;
} 
		
button:active{
text-align: center;
  color: #000;
  text-decoration: underline;
 }	

.beat {
	width: 2em;
	background:#113311;
	height: 1em;
	padding: 0px 0em 0px 0px;
}
.beat:hover{
  background:#222222;
  color:#EEE;
  text-decoration: underline;
}  



.playing {

		  transform: scale(1.0);
		  border-color: #ffFFFF;
		  box-shadow: 0 0 0.5em #c6c6c6;
		}
		
.played {
	transition: all 0.07s;
	transform: scale(1.0);
	background:#331133;
	box-shadow: 0 0 2px #000;
}

.button2{
	
		  border: 2px solid black;
		  border-radius: 27%;
		  transition: all 0.07s;
		  width: 5em;
		  height: 5em;
		  text-align: center;
		  color: #666666;
		  background: rgba(0,0,0,0.4);
		  text-shadow: 0 0 0px black;
		  font: 12px lucida console;
    text-decoration: none;

		}
		
.button2:focus {outline:0;}

		.playing {

		  transform: scale(1.0);
		  border-color: #FFF;
		color: #FFF;
		  		  border-radius: 23%;
		  box-shadow: 0 0 0.5em #c6c6c6;
		}
		
	
.button2:hover{
  background:#221122;
  color:#EEE;
  text-decoration: underline;
} 
		
.button2:active{
padding: 0px 8px;
background:#331133;
text-align: center;
  color: #000;
  text-decoration: underline;
}	
 
.Intt {
	background-color: #000;
	color: #FFF;
	width: 2em;
	border-color: #000;
	text-align: center;
	
		  border: 2px solid black;
		  font: 12px lucida console;
}
.control {
 		  border: 2px solid black;
		  border-radius: 27%;
	width: 5em;
	height: 5em;
	text-align: center;
	font: 12px lucida console;
}


